<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onClick="location.href='./orders'" type="button">Open Order</button>
    <button onClick="location.href='./menu'" type="button">Menu TestRest1</button>
    <button onClick="location.href=''" type="button">LogIn (do Not Work)</button>

  </body>
</html>
